<!DOCTYPE html>
<html ng-app="moraleometer" lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Morale-O-Meter</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width">
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Matt Winckler</p>
        </footer>
    </div>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
